* {
    margin: 0;
    padding: 0
}
a { 
 text-decoration:none;
 color: #000000;
}
li{
    list-style: none;
}
.haeder {
    position: relative;
    height: 100px;
}

.haeder .one {
    position: absolute;
    top: 20px;
    left: 460px;
}

.haeder .two {
    position: absolute;
    top: 40px;
    right: 480px;
}

.content {
    position: relative;
    height: 650px;
    background: url(../img/loginImg/bj.jpg) no-repeat;
}

.content .login {
    width: 360px;
   
    float: right;
    /*将div标签向右对齐*/
    margin-right: 370px;
    margin-top: 50px;

    text-align: center;
    width: 360px;
    height: 434px;
    background: #ffffff;

}
.content .login .top{
    height: 50px;
    
    border-bottom: 1px solid#e0e0e0;
}


.content .login .mainbb{
    float: left;
    width: 360px;
    height: 384px;
    text-align: center;
}

.content .login .weixin{
    margin-top: 10px;
}
.content .login li,a{
    float: left;
    margin-left:10px;
    font-size: 12px;
    line-height: 40px;
}
.content .login  .aaa{
    color: #000000;
    margin-left: 90px;
    font-size: 14px;
}

.content .login .top p{
    margin-left: 150px;
    float: left;
    line-height: 50px;
}
.content .login .top p:nth-child(1){
    color: #f10180;
}
.content .login .erwei{margin-top:60px;}
.content .login input{
    width: 300px;
    height: 40px;
    margin-top:15px;
}
.content .login input:nth-child(1){
    margin-top: 15px;
}



.content .login .mainbb p{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    line-height: 50px;
    font-size: 12px;
}
.content .login .mainbb .btn{
    width: 300px;
    height: 40px;
    background: rgb(241,1,128);
    line-height: 40px;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
}
.content .login .mainbb .btn span{
    margin-left: 50px;
}
.footer {
    height: 190px;
    text-align: center;
    line-height: 120px;
}
.iconfont{
    margin-top: 35px;
    border: 1px solid darkgray;
    border-radius: 10px;
    text-align: left;
    padding-left: 20px;
}